.button {
    background: $blue;
    border: none;
    border-radius: 3px;
    color: white;
    display: inline;
    font-weight: 300;
    font-size: $font-size-large;
    line-height: 4rem;
    margin: 1rem;
    padding: $s-size;
    text-align: center;
    text-decoration: none;
    &:disabled {
        background-color: lighten($grey, 40%);
        color: lighten($dark-grey, 10%);
        box-shadow: none;
        opacity: 0.7;
    }
}

.button--hover-darken {
    // transition: background 0.3s ease;
    // transition: opacity 200ms ease-in-out;
    &:hover {
        background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        // background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
        // background: opacity(0.5);
        // background: darken($blue, 10%);
    }
}

.button--link {
    background: none;
}

.button--secondary {
    background: #888;
}

.button--icon {
    float: left;
    height: 4rem;
    width: 4rem;
    margin-right: 1rem;
}

.button--shadow {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button--login {
    width: 25rem;
}

.button--confirm {
    margin: 2rem;
}

.button--google {
    background: white;
    color: $dark-grey;
}

.button--facebook {
    background: $facebook-blue;
    color: $off-white;
}

.button--github {
    background: $github-black;
    color: $off-white;
}

.dark-bg {
    background-blend-mode: multiply;
    background-color: black;
    width: 100px;
    padding: 5px;
}
